<div class="columns" id="maincrypto">
  <div class="column" id="shrinkk">
     <p>
        {{name}}
    </p>
       <p>
        {{symbol}}
    </p>
  </div>
  <div class="column" id="shrinkk">
    <p>
      {{price}}
  </p>
  </div>
  <div class="column" id="shrink">
     <p>
      {{market}}
  </p>
  </div>
  <div class="column" id="shrink">
    <p>
      {{updateh}}
  </p>
  </div>
    <div class="column" id="shrink">
    <p>
      {{updatehh}}
  </p>
  </div>
    <div class="column" id="shrink">
    <p>
      {{updated}}
  </p>
  </div>
    <div class="column" id="shrink">
    <p>
      {{updatedd}}
  </p>
  </div>
    <div class="column" id="shrink">
    <p>
      {{updateddd}}
  </p>
  </div>
</div>
