<div class="columns">
  <div class="column">
     <p>
        {{name}}
    </p>
       <p>
        {{symbol}}
    </p>
  </div>
  <div class="column">
    <p>
      {{price}}
  </p>
  </div>
  <div class="column">
     <p>
      {{market}}
  </p>
  </div>
  <div class="column">
    <p>
      {{updateh}}
  </p>
  </div>
    <div class="column">
    <p>
      {{updatehh}}
  </p>
  </div>
    <div class="column">
    <p>
      {{updated}}
  </p>
  </div>
    <div class="column">
    <p>
      {{updatedd}}
  </p>
  </div>
    <div class="column">
    <p>
      {{updateddd}}
  </p>
  </div>
    {{!-- <div class="column">
    <p>
      {{updatedddd}}
  </p>
  </div> --}}
</div>

{{!-- <div>
   
 
 
  
   
</div> --}}